a[b-1w2wtxb7k2] {
    text-decoration: none;
}

a:hover[b-1w2wtxb7k2] {
    text-decoration: none;
}

.btn[b-1w2wtxb7k2] {
    border-radius: 8px;
}

.table-hover tbody tr:hover[b-1w2wtxb7k2] {
    background-color: #f1f5f9;
}

.footer[b-1w2wtxb7k2] {
    position: relative;
    padding: 12px;
    background: #1f2933;
    color: #d1d5db;
    text-align: center;
}
